@font-face{
    font-family: CardText;
    src: url(../character/Poppins-Regular.ttf);
}
a{
    text-decoration: none;
}

.CardLink{
    width: 50%;height: 280px;
    margin-top: 10%;
}
    
    .Icon{
        height: 70px;
        display: flex;align-items: center;justify-content: center;
    }
    .Text{
        font-family: 'CardText';
        text-align: center;
        height: 150px;
    }

    
    .url{
        font-family: 'CardText';
        height: 50px;
        display: flex;align-items: center;justify-content: center;
        animation: 5s linear;
    }
        .url a{background-color: #E6DB28;width: 60%;text-align: center;color: black;}
        .url a:hover{transform: translateY(-10%);box-shadow: 1px 1px 0px 0px black;}