@font-face{
    font-family: HeaderCaption;
    src: url(../character/Poppins-BoldItalic.ttf);
}


.Home{height: 100%;}
.Header{
    position: relative;
    height: 450px;width: 100%;
    margin: 4% 0% 1%;
}
    .Header__image{
        width: 50%;
        position: relative;left: 25%;
        background-repeat: no-repeat;
        height: 100%;
        
    }
    .Header__Caption{
        position: absolute;
        color: white;top: 20%;
        left: 35%;
        font-family:'HeaderCaption';font-size: 70px;
        text-shadow:2px 2px rgba(0, 0, 0, 1);
    }
.Links{
    height: 300px;
    width: 80%;display: flex;margin-right: 5%;
}
    .Links__link{
        width: 50%;
        display: flex;justify-content: center;
    }
    #GitHub{border: 1px solid red;}
    #Documentation{border: 1px solid red;}
    #Contact{border: 1px solid red;}